<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-styles') %>
        <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
    <div class="back-button">
        <a href="/admin/products"><i class="bi bi-arrow-left-short"></i></a>
    </div>
    <div class="addproduct-container">

        <div class="form-addproduct">
            <h2>Add Product</h2>

            <form action="/admin/add-product" method="post" id="validation_form" enctype="multipart/form-data">

                <div class="form-addproduct-inner">
                    <div class="form-left">
                        <label for="product_name">Product Name:</label><br>
                        <input type="text" id="product_name" name="product_name" pattern="^[a-zA-Z0-9\s]*$" required><br>

                        <label for="price">Price:</label><br>
                        <input type="number" id="price" name="price" step="0.01" min="1" pattern="^[1-9][0-9]*$" required><br>

                        <label for="weight">Weight:</label><br>
                        <input type="number" id="weight" name="weight" step="0.01" min="1" pattern="^[1-9][0-9]*$" required><br>

                        <label for="quantity">Quantity:</label><br>
                        <input type="number" id="quantity" name="quantity" pattern="^[1-9][0-9]*$" min="1" required><br>

                        <p id="error" class="<%= locals.class? locals.class : 'error-message' %>">
                            <%= locals.message %>
                        </p>

                    </div>
                    <div class="form-right">

                        <label for="category">Category:</label><br>
                        <select id="category" style="color: black; cursor: pointer;" name="category" required>
                            <option value="" disabled selected>Select Category</option>
                            <% for (let each of locals.category) {%>
                                <option value="<%= each.categoryName %>">
                                    <%= each.categoryName %>
                                </option>
                                <%}%>
                                    <!-- Add more categories as needed -->
                        </select> <a
                            style="background-color: #fff; padding: 2px 5px; font-size: 13px; text-decoration: none;"
                            href="/admin/add-category">add category</a><br>

                        <label for="subcategory">Subcategory:</label><br>
                        <select id="subcategory" name="subcategory">
                            <option value="" disabled selected>Select Subcategory</option>
                            <!-- Add subcategories based on the selected category using JavaScript or fetch from the server -->
                        </select><br>

                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description" rows="4" cols="50" maxlength="499"></textarea><br>

                        <albel for="file_uploader">File Uploader:</label><br>
                        <input type="file" style="cursor: pointer;" id="file_uploader" name="img-file" accept=".jpg, .jpeg, .png" multiple><br>

                    </div>
                </div>
                <input type="submit" value="Submit" class="submit-btn">
            </form>

        </div>
    </div>
    <script src="/scripts/validate_num.js"></script>
    <%- include('../partials/bootstrap-script') %>
        <%- include('../partials/footer')%>


</body>

</html>