<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-styles') %>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
       <%- include('../partials/navbar') %>
    </header>
    <main>
        <div class="login-box">
                <div>
                    <div class="" style="text-align: center; margin-bottom: 30px;">
                        <h2 style="font-weight: bold;">ADMIN</h2>
                    </div>
                    <form action="/admin/login" method="post">
                    
                
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br>
                
                   
                    <input style="margin-top: 30px;" type="submit" value="Login" class="sign-btn">
                  </form>

                  <p style="color: red;"><%= locals.message %></p>
                 
                </div>

        </div>
    </main>
        <%- include('../partials/footer')%>
        <%- include('../partials/bootstrap-script') %>
</body>
</html>