<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>
    <div class="dashboard-container">
        <div class="back-button">
            <a href="/admin/userlists"><i class="bi bi-arrow-left-short"></i></a>
        </div>
        <div class="userlists-div" style="padding: 0 20rem;">
            
            <div class="head-name mt-5">
                <h2>
                    <%= locals.user[0].name.toUpperCase() %>
                </h2>
                <p>
                    <%= locals.user[0].email %>
                </p>
            </div>
            <div class="address">
                <h4>Address</h4>
                <% for (let each of locals.user[0].address) { %>
                    <div class="address-box d-block">
                        <p>
                            <%= each.houseName %>, <%= each.streetAddress %>
                        </p>
                        <p>
                            <%= each.city %>, <%= each.state %>
                        </p>
                        <p>postal code : <%= each.postalcode %>
                        </p>
                        <p>mobile : <%= each.mobile %>
                        </p>
                    </div>
                    <% } %>
            </div>
          

        </div>
    </div>
    <%- include('../partials/footer')%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>